build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f service-test-suite/Dockerfile -t service-test-suite:$GIT_COMMIT_ID service-test-suite 
    docker tag service-test-suite:$GIT_COMMIT_ID  service-test-suite:$ROOST_NAMESPACE  
    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
    cd ./ && make
deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    HELM_OPTS=""
    helm upgrade akshat-test2-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS

    kubectl apply -n $ROOST_NAMESPACE -f service-test-suite/test-suite.yaml

    kubectl apply -n $ROOST_NAMESPACE -f voter/ingress.yaml

    kubectl apply -n $ROOST_NAMESPACE -f voter/voter.yaml
test:
  - name: voter
    configType: artillery
    configPath: voter/voter.yaml
  - name: voter
    configType: artillery
    configPath: voter/ingress.yaml
  - name: service-test-suite
    configType: artillery
    configPath: service-test-suite/test-suite.yaml
  - name: service-test-suite
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2022-09-09T08:50:49.273Z
