build:
  type: None
  content: ''
deploy:
  type: text
  content: |
    #/bin/sh
    kubectl apply -n $ROOST_NAMESPACE -f voter/ingress.yaml
test: []
uninstall:
  type: None
  content: ''
app_dependencies:
  type: None
  content: ''
app_deploy:
  type: None
  content: ''
app_test: []
app_uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Bhavya Goswami
lastUpdatedOn: 2023-02-27T09:42:45.906Z
