build:
  type: None
  content: ''
deploy:
  type: text
  content: |
    #/bin/sh
    HELM_OPTS=""
    helm upgrade akshat-test-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test: []
uninstall:
  type: None
  content: ''
app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh
    &lt;&lt;&#39;###&#39;
    Sample Deploy Instructions
    HELM_OPTS=&quot;--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}&quot;

    helm install &lt;helm-folder&gt; -n &lt;ns&gt; $HELM_OPTS

    kubectl apply -f &lt;file&gt;.yaml
    ###

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2022-12-05T08:48:08.714Z
