build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
app_dependencies:
  type: None
  content: ''
app_deploy:
  type: None
  content: ''
app_test: []
app_uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2023-03-02T10:03:34.637Z
